body {
    background-color: rgb(36, 33, 33);
    padding: 0;
    margin: 0;
}

.wrapper{
    background-color: rgb(19, 18, 18);
    height: 300px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 15px 40px rgba(29, 28, 28);
    border-radius: 10px;
    z-index: -2;
}

.chameleon{
    background-color: rgb(97, 11, 97);
    height: 70px;
    width: 70px;
    border-radius: 6px 35px 35px 0;
    position: absolute;
    top: 100px;
    right: 78px;
}

.chameleon:before{
    content: "";
    background-color: rgb(97, 11, 97);
    height: 50px;
    width: 100px;
    position: absolute;
    right: 50px;
    bottom: 0;
    border-radius: 50px 500px 0 0;
}

.chameleon:after{
    content: "";
    background-color: rgb(212, 121, 16);
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 30px 0 35px 0;
}

.tail{
    height: 100px;
    width: 100px;
    box-shadow: -20px -5px 0 rgb(97, 11, 97);
    border-radius: 50%;
    position: absolute;
    left: -67px;
    top: 13px;
    transform: rotate(-55deg);
    z-index: 3;
}

.eye{
    background-color: whitesmoke;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0.5px 0.5px 0 1px grey, 5px 5px 0 8px rgb(6, 126, 156);
    top: 12px;
    left: 10px;
}

.leg{
    height: 25px;
    width: 50px;
    background-color: rgb(212, 121, 16);
    border-radius: 25px 25px 0 0;
    position: absolute;
    left: -78px;
    bottom: 0;
    box-shadow: 46px 0 0 0 rgb(212, 121, 16);
    z-index: 2;
}

.leg:after{
    content: "";
    position: absolute;
    height: 12px;
    width: 6px;
    background-color: rgb(212, 121, 16);
    bottom: -11px;
    right: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 46px 0 0 rgb(212, 121, 16);
}

.branch{
    z-index: -1;
    background-color: #755f59;
    height: 20px;
    width: 220px;
    position: absolute;
    bottom: -16px;
    right: -40px;
    border-radius: 0 10px 10px 0;
}

.branch:before{
    content: "";
    position: absolute;
    height: 20px;
    width: 25px;
    background-color: #fdbf00;
    position: absolute;
    border-radius: 0 35px;
    right: -5px;
    top: 17px;
}

.branch:after{
    content: "";
    background-color: #cf6908;
    height: 20px;
    width: 25px;
    position: absolute;
    border-radius: 0 35px;
    right: 4px;
    top: 21.5px;
    transform: rotate(40deg);
}

.wrapper:after{
    content: "";
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 50%;
    background-color: rgba(24, 23, 23, 0.5);
}